# Get your connection string from https://neon.tech
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@YOUR_HOST.neon.tech/neondb?sslmode=require"
JWT_SECRET="your-secret-key-here"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xxxxx"
